<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shorter URL</title>
  </head>
  <body>

    <h1>URL Shortening Application</h1>

<!-- Check for any messages from system usning Flash and JinJa -->

    {% for message in get_flashed_messages() %}
    <h2>{{  message }}</h2>
    {% endfor %}

    <div>
      <form action="your-url" method="POST">

        <label for="url">Website URL</label>
        <input type="url" name="url" value="" required/> <br>

        <label for="code">Short Name</label>
        <input type="text" name="code" value="" required/><br>

        <input type="submit" name="" value="Shorten" />

      </form>
    </div>

    <!-- File Form  -->
    <br><br>

    <div>

      <form action="your-url" method="POST" enctype="multipart/form-data">
        <label for="file">File Location</label>
        <input type="file" name="file" value="" required /> <br />

        <label for="code">Short Name</label>
        <input type="text" name="code" value="" required /><br />

        <input type="submit" name="" value="Shorten Filename" />
      </form>

    </div>

  </body>
</html>
